<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/bs3/js/bootstrap.min.js"></script>
<script src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/skycons/skycons.js"></script>
<script src="/js/gauge/gauge.js"></script>
<script src="/js/morris-chart/morris.js"></script>
<script src="/js/morris-chart/raphael-min.js"></script>
<script src="/js/flot-chart/jquery.flot.js"></script>
<script src="/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/dist/app.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/flot-chart/excanvas.min.js"></script><![endif]-->