<header class="header fixed-top clearfix">

  <div class="brand">
    <a href="/" class="logo">

    <!--<img src="/images/logo.png" alt="">--> 
    

    <!--<img src="/images/rbl-main.jpg" alt="" style="width: 175px; height:53px;"> -->
     <span style="color: #1a3281;"> <i class="fa fa-users"></i> NSE</span> 

    </a>
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars"></div>
    </div>
  </div>

  <div class="nav notify-row" id="top_menu">
    <ul class="nav top-menu">
      <li id="header_inbox_bar" class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="fa fa-bell-o"></i>
        <span class="badge bg-important">0</span>
        </a>
        <ul class="dropdown-menu extended inbox">
          <li>
            <p class="red">You have 0 Notifications</p>
          </li>
          <li>
            <a href="#">No notifications</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="top-nav clearfix">
    <ul class="nav pull-right top-menu">
      <li>
        <input type="text" class="form-control search" placeholder=" Search">
      </li>

      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <img alt="Insert logo here" src="/images/logo-nse.gif">
        <span class="username">{{activeUserProfile.name}}</span>
        <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <!-- <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li> -->
          <li><a href="/logout"><i class="fa fa-key"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
