<div>
  <div class="list-group cur-a">
  <a ng-class="{active: label == 'one'}" ng-click="label = 'one'" class="list-group-item">
    Primary details
  </a>
  <!-- <a href="/applicantname" ng-class="{active: label == 'applicantname'}" class="list-group-item">Applicants Name</a>
  <a href="/familydetails" ng-class="{active: label == 'familydetails'}" class="list-group-item">Family Details</a>
  <a href="/applicantdetails" ng-class="{active: label == 'applicantdetails'}" class="list-group-item">Applicant Details</a>
  <a href="/applicantdocdetails" ng-class="{active: label == 'applicantdocdetails'}" class="list-group-item">Applicants Document Details</a>
  <a href="/applicantaddressdetails" ng-class="{active: label == 'applicantaddressdetails'}" class="list-group-item">Applicants Address Details</a>
  <a href="/correspondenseaddressdetails" ng-class="{active: label == 'correspondenseaddressdetails'}" class="list-group-item">Correspondence Address Details</a>
  <a href="/jurisdictionaddressdetails" ng-class="{active: label == 'jurisdictionaddressdetails'}" class="list-group-item">Applicants Jurisdiction Address Details</a>
  <a href="/applicantcontactdetails" ng-class="{active: label == 'contact'}" class="list-group-item">Applicants Contact Details</a>
  <a href="/relatedpersondetails" ng-class="{active: label == 'relatedpersondetails'}" class="list-group-item">Related Person Details</a> -->
  <a ng-click="label = 'applicantname'" ng-class="{active: label == 'applicantname'}" class="list-group-item">Applicants Name</a>
  <a ng-click="label = 'familydetails'" ng-class="{active: label == 'familydetails'}" class="list-group-item">Family Details</a>
  <a ng-click="label = 'applicantdetails'" ng-class="{active: label == 'applicantdetails'}" class="list-group-item">Applicant Details</a>
  <a ng-click="label = 'applicantdocdetails'" ng-class="{active: label == 'applicantdocdetails'}" class="list-group-item">Applicants Document Details</a>
  <a ng-click="label = 'applicantaddressdetails'" ng-class="{active: label == 'applicantaddressdetails'}" class="list-group-item">Applicants Address Details</a>
  <a ng-click="label = 'correspondenseaddressdetails'" ng-class="{active: label == 'correspondenseaddressdetails'}" class="list-group-item">Correspondence Address Details</a>
  <a ng-click="label = 'jurisdictionaddressdetails'" ng-class="{active: label == 'jurisdictionaddressdetails'}" class="list-group-item">Applicants Jurisdiction Address Details</a>
  <a ng-click="label = 'contact'" ng-class="{active: label == 'contact'}" class="list-group-item">Applicants Contact Details</a>
  <a ng-click="label = 'relatedpersondetails'" ng-class="{active: label == 'relatedpersondetails'}" class="list-group-item">Related Person Details</a>

</div>

<style media="screen">
  .cur-a a {
    cursor: pointer;
  }
</style>
</div>
