<div ng-show="label == 'applicantaddressdetails'" class="white-box">
      <form>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address Address Type</label>
        <input ng-model="user.addressType" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Proof of Address</label>
        <input ng-model="user.proofOfAddress" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address Line 1</label>
        <input ng-model="user.addressLine1" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address Line 2</label>
      </div>
      <input ng-model="user.addressLine2" type="text" class="form-control">
      <div class="form-group">
        <label>Current/Permanent/Overseas Address Line 3</label>
        <input ng-model="user.addressLine3" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address-City/Town/Village</label>
        <input ng-model="user.city" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address-District</label>
        <input ng-model="user.district" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address-State/U.T</label>
        <input ng-model="user.state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address-Country code</label>
        <input ng-model="user.countryCountry" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Current/Permanent/Overseas Address-PIN Code</label>
        <input ng-model="user.PINCode" type="text" class="form-control">
      </div>

    </form>
    </div>
