<div ng-show="label == 'applicantdocdetails'" class="white-box">
      <form>
            <div class="form-group">
        <label>Passport Expiry Date</label>
        <input ng-model="user.passportExpiryDate" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Voter ID Card Number</label>
        <input ng-model="user.voterIdCard" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Driving License Number</label>
        <input ng-model="user.drivingLicence" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Driving Licence Expiry Date</label>
        <input ng-model="user.drivingLicenceExpirtDate" type="text" class="form-control">
      </div>
          <div class="form-group">
        <label>NREGA Job card</label>
        <input ng-model="user.jobCard" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Other Proof of Identity</label>
        <input ng-model="user.otherProofOfIdentity" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Identification Number</label>
        <input ng-model="user.identificationNumber" type="text" class="form-control">
        <div class="form-group">
      </div>
        <label>Simplifies Measures Account- Document Type Code</label>
        <input ng-model="user.documentTypeCode" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Identification Number</label>
        <inputn ng-model="identificationNumber" type="text" class="form-control">
      </div>
      </form>
    </div>
