{% extends "../layouts/master.html" %}

{% block content %}



<div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="logo.png" style="height:160px;width:180px;">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Contact and support:</h4>
    
    For tech support or general inquiries, contact: <br>
    Aaryaman Vir Shah: aaryaman@elemential.com, +91 98201 07378 <br>
    Anil Dukkipatty: anil@elemential.com, +91 97571 47940 <br>
    Sahil Kathpal: sahil@elemential.com, +91 9833084097 <br><br>

    The office of Elemential Labs Private Limited is located at the following address:<br>
    A-17 Dattani Plaza, Mehra Compound Road, Safed Pul, Sakinaka, Mumbai, 400072 <br><br>
  </div>
</div>


{% endblock %}

{% block javascript %}
<script>
  $('#navKey').addClass('active');
</script>
{% endblock %}