<div ng-show="label == 'applicantdocdetails'" class="white-box">
      <form>
            <div class="form-group">
        <label>Passport EXPIRY DATE</label>
        <input ng-model="user.passportExpiryDate" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>voter ID CARD</label>
        <input ng-model="user.voterIdCard" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Driving LICENCE</label>
        <input ng-model="user.drivingLicence" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Driving LICENCE EXPIRY DATE</label>
        <input ng-model="user.drivingLicenceExpirtDate" type="text" class="form-control">
      </div>
          <div class="form-group">
        <label>NREGA Job card</label>
        <input ng-model="user.jobCard" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>OTHERS-proof of identity</label>
        <input ng-model="user.otherProofOfIdentity" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Identification number</label>
        <input ng-model="user.identificationNumber" type="text" class="form-control">
        <div class="form-group">
      </div>
        <label>Simplifies Measures account- document type code</label>
        <input ng-model="user.documentTypeCode" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Identification number</label>
        <inputn ng-model="identificationNumber" type="text" class="form-control">
      </div>
      </form>
    </div>
