<div ng-show="label == 'applicantdetails'" class="white-box">
      <form>
      <div class="form-group">
        <label>Date Of Birth</label>
        <input ng-model="user.dateOfBirth" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Gender</label>
        <input ng-model="user.gender" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Marital Status</label>
        <input ng-model="user.maritalStatus" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Citizenship</label>
        <input ng-model="user.citizenship" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Occupation Type</label>
        <input ng-model="user.occupationType" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Residence for Tax Purposes in Jurisdiction outside India</label>
        <input ng-model="user.taxPurposes" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>ISO 3166 COUNTRY CODE OF JURISDICTION OF RESIDENCE</label>
        <input ng-model="user.countryCodeOfJurisdiction" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Tax Identification Number</label>
        <input ng-model="user.taxIdentificationNumber" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Place/City of Birth</label>
        <input ng-model="user.placeOfBirth" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>ISO 3166 COUNTRY CODE OF BIRTH</label>
        <input ng-model="user.countryCodeOfBirth" type="text" class="form-control">
      </div>

    </form>
    </div>
