
    <div ng-show="label == 'applicantname'" class="white-box">
      <form>
      <div class="form-group">
        <label>Applicant Name Prefix</label>
        <input ng-model="user.namePrefix" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Applicant First Name</label>
        <input ng-model="user.firstName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Applicant Middle Name</label>
        <input ng-model="user.middleName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Applicant Last Name</label>
        <input ng-model="user.lastName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Applicant Maiden First Name</label>
        <input ng-model="user.maidenFirstName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Applicant Maiden Middle Name</label>
        <input ng-model="user.maidenMiddleName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Applicant Maiden Last Name</label>
        <input ng-model="user.maidenLastName" type="text" class="form-control">
      </div>
    </form>
    </div>
