<div ng-show="label == 'correspondenseaddressdetails'" class="white-box">
      <form>
      <div class="form-group">
        <label>Correspondence Address  Line 1</label>
        <input ng-model="user.correspondenceAddressLine1" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Correspondence Address  Line 2</label>
        <input ng-model="user.correspondenceAddressLine2" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Correspondence Address  Line 3</label>
        <input ng-model="user.correspondenceAddressLine3" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Correspondence Address-City/Town/Village</label>
        <input ng-model="user.correspondenceCity" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Correspondence Address-District</label>
        <input ng-model="user.correspondenceDistrict" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Correspondence Address-State/U.T</label>
        <input ng-model="user.correspondenceState" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Correspondence Address-Country code</label>
        <input ng-model="user.correspondenceCountry" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Correspondence Address-Pin code</label>
        <input ng-model="user.correspondencePINCode" type="text" class="form-control">
      </div>

    </form>
    </div>
