<div ng-show="label == 'familydetails'" class="white-box">
      <form>
      <div class="form-group">
        <label>Father/Spouse First Name</label>
        <input ng-model="user.fatherFirstName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Father/Spouse Middle Name</label>
        <input ng-model="user.fatherMiddleName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Father/Spouse Last Name</label>
        <input ng-model="user.fatherLastName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Mother's First Name</label>
        <input ng-model="user.motherFirstName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Mother's Middle Name</label>
        <input ng-model="user.motherMiddleName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Mother's Last Name</label>
        <input ng-model="user.motherLastName" type="text" class="form-control">
      </div>
    </form>
    </div>
