<div ng-show="label == 'jurisdictionaddressdetails'" class="white-box">
      <form>
      <div class="form-group">
        <label>Address in Jurisdiction Line 1</label>
      </div>
      <input ng-model="user.jurisdictionAddressLine1" type="text" class="form-control">
      <div class="form-group">
        <label>Address in Jurisdiction Line 2</label>
        <input ng-model="user.jurisdictionAddressLine2" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Address in Jurisdiction Line 3</label>
        <input ng-model="user.jurisdictionAddressLine3" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Address in Jurisdiction-City/Town/Village</label>
        <input ng-model="user.jurisdictionCity" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Address in Jurisdiction-State</label>
        <input ng-model="user.jurisdictionState" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Address in Jurisdiction-Country</label>
        <input ng-model="user.jurisdictionCountry" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Address in Jurisdiction-ZIP/Post Code</label>
        <input ng-model="user.jurisdictionPostCode" type="text" class="form-control">
      </div>
    </form>
    </div>
