{% extends '../layouts/master.html' %}

{% block content %}
<div class="row" ng-controller="ContractElCtrl">
  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">
        Contract ID: {{contract._id}}
        <span class="tools pull-right">
          <a href="javascript:;" class="fa fa-chevron-down"></a>
        </span>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="list-group">
              <a class="list-group-item cur" style="margin:15px;padding:20px">
                <h4 class="list-group-item-heading">Contract ID {{contract._id}} with: <span style="text-decoration:underline;">{{contract.counterparty._id+' - '+contract.counterparty.name }}</span> created at: <span style="text-decoration:underline;"> {{contract.created_at | date:'medium'}}</span></h4>
                    <ul class="list-group" style="margin:5px;padding:5px">
                      <li class="list-group-item"><span style="font-weight:bold;">Details of goods to be sold/purchased:</span> {{contract.sale_of_goods}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Price of goods:</span> {{contract.purchase_price}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Down payment:</span> {{contract.down_payment}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Time of payment:</span> {{contract.time_of_payment}}</li>
                      <li ng-show="contract.time_of_payment=='At the specified date'" class="list-group-item"><span style="font-weight:bold;">Specified date of payment:</span> {{contract.time_of_payment_specified_date | date:'medium'}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Payment method:</span> {{contract.payment_method}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Delivery of goods:</span> {{contract.delivery_of_goods | date:'medium'}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Condition of goods:</span> {{contract.condition_of_goods}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Time of payment:</span> {{contract.additional_terms_and_conditions}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Buyer status:</span> {{contract.buyer_status}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Seller status:</span> {{contract.seller_status}}</li>
                      <li class="list-group-item"><span style="font-weight:bold;">Download contract file link:</span> <button class="btn btn-link" ng-click="goToW(contract.contract.link)">Download link</button></li>
                    </ul>
                <br>
                <!--<div ng-show="! contract.completed">
                  <button ng-click="acceptContract(contract)" class="btn btn-xs btn-primary rblbluebutton">Accept</button>
                  <button ng-click="rejectContract(contract)" class="btn btn-xs btn-danger rblredbutton">Reject</button>
                  <button ng-click="modifyContract(contract)" class="btn btn-xs btn-warning">Modify</button>
                  <button ng-click="goTo('/bgapplications/actions/apply/'+contract.token)" class="btn btn-xs btn-default">Apply for BG</button>
                </div>
                <div ng-show="contract.completed">
                  <span ng-show="contract.accepted" class="label label-primary rblbluebutton">Accepted</span>
                  <span ng-show="contract.rejected" class="label label-danger rblredbutton">Rejected</span>
                </div>-->
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    var me = <%= JSON.stringify(user) %>
    var contract = <%= JSON.stringify(contract) %>
  </script>
</div>
{% endblock %}

{% block javascript %}
  <style>
    .mar-up {
      margin-top: 10px;
    }
  </style>
{% endblock %}
